:root{
    --main:rgb(0,119,101)
}
*{font-family:Helvetica, sans-serif;}
body{margin:0}
#top{
display:flex;
height:40px;
background:var(--main);
width:100%;
color:white;
top:0;
position: sticky;
}
.container{margin:0 250px 0 250px;}
@media(max-width:900px){
    .container{
        margin:0 100px 0 100px;}
}
@media(max-width:600px){
    .container{
        margin:0 30px 0 30px;}
}
@media(max-width:500px){
    .container{
        margin:0 10px 0 10px;}
}
#right-corner{
    display:flex;
}
#center-right{border-left:2px solid white;
border-right:2px solid white;
}
.margin{padding-left:7px;
    padding-right:7px;
}
.inner-top{
display:flex;
justify-content: space-between;
align-items: center;
width:100%;
}
#head{
    width:100%;
    height:200px;
    background:url('https://sergioignatev.github.io/gitImages/greenspace.png');
    color:white;
    font-family:  Helvetica, sans-serif;
    display:flex;
    align-items: center;
    justify-content:center
}
.problem{color:var(--main);
text-align:center;
font-family: Arial, Helvetica, sans-serif;
margin-top:40px;
}
.white{
    padding-bottom:50px;
}
#blue{
    width:100%;
    background:url('https://sergioignatev.github.io/gitImages/bluespace.png');
    color:white;
    text-align: center;
}
.blue{padding:50px 0 50px 0}
#team{
    background:rgb(238,238,238);
    width:100%;
   margin-bottom:0;
}
#img-grid{
    display:grid;
    grid-template-columns: auto auto auto;
}
@media(max-width:980px){
    #img-grid{
        grid-template-columns: auto  auto; 
    }
}
@media(max-width:480px){
    #img-grid{
        grid-template-columns: auto; 
    }
}
.ceo{display:block;
    margin:20px;
text-align:center}
.img{border-radius:50%;
width:150px;
height:150px;
display:block;
margin-left:auto;
margin-right:auto;
}
.green{
    color:var(--main)
}
footer{
    width:100%;
    min-height:70px;
    background:rgb(51,51,51);
    color:white;
    text-align:center;
    display:flex;
    justify-content: center;
    align-items: center;
}
#footer{
    margin-top:20px;
    margin-bottom:20px;
}